html,body{
  height: 100%;  
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#map {
  /*height: 600px;*/
  flex-basis: 80%;
}

.value{
    font-size: 15px;
    font-weight: 100;
    margin-top: 5px;
}

 .percent{
    align-self: center;
    margin-top: 5px;
    font-weight: 500;
    font-size: 18px;
    margin-left: 20px;
}
 .title{
    font-weight: 500;
    font-size: 18px;
    text-transform: capitalize;
}
.chartContainer{
    display: flex;
    padding: 13px 20px;
    flex-direction: column;
    /*color: #4e4c4c;*/
    align-items: flex-start;
    color: white;
}
.chartContainer:hover {
    cursor: pointer;
    border: 1px solid #e4e4e4;
    box-shadow: 4px -1px 3px 0px white;
}
.Main{
    background: #3590f3;  
    color: white;  
    position: relative;
}
.barWrapper{
  display: flex;
}
.schoolWrapper{
  display: flex;  
  height: 590px;
}
.schoolWrapper > div:first-child{
  flex-basis: 30%;
}
.insights{
  overflow-y: auto;

}
.insightText{
    padding: 20px;
    background: white;
    color: black;
    font-size: xx-large;
    /* letter-spacing: 1.3px; */
    font-weight: 600;
    font-family: monospace;
}
.filterClass > div{
  padding: 5px;
}
